rhosocial-activerecord[test]
rhosocial-activerecord-testsuite
pydantic[email]
pytest
pytest-asyncio
pytest-cov
pytest-xdist
pytest-mock
pyyaml>=6.0.2
coverage>=7.0.0
black>=23.0.0
isort>=5.0.0
mypy>=1.0.0
ruff>=0.1.0
pre-commit>=3.0.0
